.menu {
    padding: 2rem;
}
.menu h1 {
    padding-bottom: 2rem;
    text-align: center;
}
.nav {
    display: flex;
    justify-content: center;
    gap: 2rem
}
.nav a {
    align-self: center;
}

/* form */
form {
    display: flex;
}
form div input{
    padding: 0.4rem;
}

.dish-list{
    padding: 4rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
}
.dish-list p {
    text-align: left;
}

.dish {
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 5%;
    transition: transform 0.3s, box-shadow 0.3s;
}
.dish:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2)
}
.dish a img {
    object-fit: cover;
    width: 100%;
    border-radius: 20px;
}
.dish a img {
    border-radius: 20px;
}
.dish-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    padding: 0.4rem 2rem;
}
.dish-info ul {
    list-style: none;
}

.price {
    color: orangered;
    font-size: 1.2rem;
    font-weight: 600;
}

