{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}
{% block title %}
  Login
{% endblock %}
{% block content %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}">
  
   <div class="wrapper">
   
        <form method="post" action="{% url 'login' %}" novalidate>
          {% csrf_token %}

            <h1>Login</h1>
            <div class="input-box">
                <input value="{{ username }}" name="username" type="text" placeholder="Username" required>
                <i class="bx bxs-user"></i>
            </div>
            <div class="input-box">
                <input value="{{ password }}" name="password" type="password" placeholder="Password" required>
                <i class="bx bxs-lock-alt"></i>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox" name="remember">Remember me</label>
                <!--<a href="#">Forgot password</a>-->
            </div>
            <button type="submit" class="btn">Login</button>

            <div class="register-link">
                <p>Don't have an account? <a href={% url 'sign-up' %}>Register</a></p>
            </div>
        </form>
    </div>

{% endblock %}
