.page {
    text-align: center;
    padding: 2rem;
}
.page .nav {
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 1rem;
}
form {
    display: flex;
    gap: 0.5rem;
}
form div input {
    padding: 0.4rem;
}
.table {
    padding: 2rem;
    display: grid;
    justify-content: center;
    gap: 1rem;
}
.table tbody {
    border: 2px solid white;
    border-radius: 5%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
