{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
  Dishes
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href={% static 'css/dish/list.css' %}>

  <section class="menu">
    <h1>Dishes list</h1>

    <div class="nav">
      <form action="" method="get" class="search-form" novalidate>
        <input type="submit" value="🔍" class="btn btn-primary">
        {{ search }}
      </form>
      <a href="{% url 'kitchen:dish_create' %}" class="btn btn-primary link-to-page">
        Create dish
      </a>
    </div>
    <div class="dish-list">
      {% for dish in dish_list %}
        <div class="dish">
          <a href={% url 'kitchen_app:dish_detail' dish.id %}>
            <img alt="menu" height="200px" src={% static dish.get_img %}>
          </a>
          <div class="dish-info">
            <div class="short">
              <h3>{{ dish.name }}</h3>
              <p>
                {% if dish.description %}
                  {{ dish.description }}
                {% else %}
                  No description.
                {% endif %}
              </p>
              <div class="price">
                ${{ dish.price }}
              </div>
            </div>

            <div class="long">
              <h4>Ingridients:</h4>
              <ul>
                {% for ingridient in dish.get_ingredients %}
                  <li>
                    {{ ingridient }}
                  </li>
                {% endfor %}
              </ul>
              <h4>Cooks:</h4>
              <ul>
                {% for cook in dish.get_cooks %}
                  <li>
                    {{ cook }}
                  </li>
                {% empty %}
                  <li>No one wanna cook this</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      {% empty %}
        <p>No one Dish was found :(</p>
      {% endfor %}
    </div>
  </section>

{% endblock %}