.page {
    display: block;
    place-items: center;
    margin-top: 20px;
}
.wrapper {
    backdrop-filter: blur(20px);
    color: white;
    text-align: center;
    padding: 20px;
}
.form {
    display: inline-block;
    text-align: center;
}
h1 {
    padding: 20px;
}