.nav-wrap{
    display: block;
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 30px;
    backdrop-filter: blur(45px);
    background: transparent;
    height: 100%;
}
.nav-wrap img {
    height: 84px;
}
.nav-flex {
    display: flex;
    justify-content: space-between;
    place-items: center;
}
.nav-wrap .nav-flex a {
    text-decoration: none;
    color: dimgray;
    padding: 25px;
}
.nav-wrap .nav-flex a:hover {
    color: greenyellow;
    text-decoration: underline;
}
.nav-profile span {
    font-size: 1.5em;
}
