header{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    padding: 1.5rem 5%;
    backdrop-filter: blur(10px);
    background: coral;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 1.8rem;
    font-weight: 700;
}
.nav-profile {
    display: flex;
    gap: 1rem;
    line-height: 1em;
}
.nav-btn {
    color: white;
    padding: 0.5rem 2rem;
    background-color: gray;
    border-radius: 30px;
    border: none;
    align-self: center;
    transition: color 0.3s;
}
.nav-links {
    display: flex;
    gap: 2rem;
}
.nav-links a, .logo a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding: 1rem;
    transition: color 0.3s;
}
.nav-profile p {
    font-size: 2rem;
}
.nav-links a:hover,
.nav-profile a:hover,
.logo a:hover{
    color: greenyellow;
    text-decoration: none;
    transform: translateY(-2px);
}
.nav-links a:active,
.nav-profile a:active,
.logo a:active{
    color: greenyellow;
    text-decoration: none;
    transform: translateY(2px);
}
