<div class="footer-content">
  <div class="footer-col">
    <h3>Kitchen Service</h3>
    <p>Modern problems requests Modern solutions</p>
  </div>
  <div class="footer-col">
    <h3>Quick links</h3>
    <ul>
      <li><a href="https://mate.academy/" target="_blank">Mate Academy</a></li>
      <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
      <li><a href="https://www.google.com/" target="_blank">Google</a></li>
    </ul>
  </div>
  <div class="footer-col">
    <h3>Contact Me</h3>
    <p>Ukraine city Kyiv</p>
    <p>Italia city Parizh</p>
    <p>Germany city Berlin</p>
  </div>
</div>
<div class="copyright">
  @ 2025 Kitchen service. All right reserved.
</div>