{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
  <link rel="stylesheet" href={% static 'css/home.css' %}>

<section class="hero">
  <div class="hero-content">
    <h1>Kitchen service for Managing</h1>
    <p>This site will be very helpful for You if You have own Kitchen and want to
      speed up all processes in that
    </p>
  </div>
  <div class="hero-image">
    <img alt="Own kitchen" height="600px" src={% static 'img/kitchen.jpg' %}>
  </div>
</section>

<section class="menu">
  <h2>Our Menu</h2>

  <div class="menu-grid">
    {% for dish in dishes %}

      <div class="menu-card">
        <a href={% url 'kitchen_app:dish_detail' dish.id %}>
          <img alt="menu" height="200px" src={% static dish.get_img %}>
        </a>
        <div class="menu-card-content">
          <h3>{{ dish.name }}</h3>
          <p>
            {% if dish.description %}
              {{ dish.description }}
            {% else %}
              No description.
            {% endif %}
          </p>
          <div class="price">
            ${{ dish.price }}
          </div>
        </div>
      </div>

    {% empty %}
      <p>No one Dish was found :(</p>

    {% endfor %}
  </div>
</section>

{% endblock %}

{% block footer %}
  {% include "includes/footer.html" %}
{% endblock %}
