.form-control:focus {
    background: transparent;
    border: 2px solid rgba(68,24,127,.2);
    backdrop-filter: blur(1.5rem);
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
}
.mb-3 {
    height: 50px;
    place-items: center;
}
.mb-3 input{
    position: relative;
    display: block;
    margin: 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 25px 20px 20px;
}
.mb-3 input:past {
    background: transparent;
}
.mb-3 input::placeholder {
    color: white;
}
.is-invalid~.invalid-feedback, .is-invalid~.invalid-tooltip, .was-validated :invalid~.invalid-feedback, .was-validated :invalid~.invalid-tooltip {
    display: none;
}
.form-text {
    display: none;
}
.wrapper form .mb-3 input {
    color: white;
}