{% extends "base.html" %}
{% load static %}

{% block title %}
  Ingredients
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href={% static 'css/dish_type/list.css' %}>

  <section class="page">
    <h1>Ingredients</h1>
    <div class="nav">
        <form action="" method="get" class="search-form" novalidate>
          <input type="submit" value="🔍" class="btn btn-primary">
          {{ search }}
        </form>
        <a href="{% url 'kitchen:ingredient_create' %}" class="btn btn-primary link-to-page">
          Create Ingredient
        </a>
    </div>
    {% if ingredient_list %}
      <table class="table">
        <tr>
          <th>Ingredient</th>
          {% if user.is_authenticated %}
            <th></th>
            <th></th>
          {% endif %}
        </tr>
        <tr>
          {% for ingredient in ingredient_list %}
            <tr>
              <td>
                {{ ingredient.name }}
              </td>
              {% if user.is_authenticated %}
                <td>
                  <form method="post" action="">
                    {% csrf_token %}
                    <input name="pk" type="hidden" value={{ ingredient.id }}>
                    <input type="text" name="new_name">
                    <button class="btn btn-primary" type="submit">update</button>
                  </form>
                </td>
                <td>
                  <form method="post" action="">
                    {% csrf_token %}
                    <input name="pk" type="hidden" value={{ ingredient.id }}>
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
      </table>
    {% else %}
      <p>No one Ingredient was found :(</p>
    {% endif %}
  </section>

{% endblock %}
