{% extends "base.html" %}
{% block title %}
  Delete
{% endblock %}
{% block content %}
  {% load static %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/dish/delete.css' %}">
  
  <div class="page">
    <h1>Delete "{{ cook.username }}"?</h1>
    <div class="nav">
      <form action="" method="post" class="form">
        {% csrf_token %}
    
        <input type="submit" value="Yes" class="btn btn-danger">
      </form>
      <a class="btn btn-primary" href={% url 'kitchen:cooker_detail' cook.id %}>Back</a>
    </div>
  </div>

{% endblock %}