{% extends "base.html" %}
{% load static %}
{% block title %}
  {{ dish.name }}
{% endblock %}
{% block content %}
  {% load static %}
    <link type="text/css" rel="stylesheet" href={% static 'css/dish/detail.css' %}>

  <div class="page">
    <h1>
      {{ cook.username }}
    </h1>
  {% if user.is_authenticated %}
    <div class="nav">
      <a class="btn btn-primary" href={% url 'kitchen:cook_update' cook.id %}>update</a>
      <a class="btn btn-danger" href={% url 'kitchen:cook_delete' cook.id %}>delete</a>
      <a class="btn btn-success" href={% url 'kitchen:cookers'%}>back</a>
    </div>
  {% endif %}
  
  </div>
{% endblock %}