{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
  Dishes
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href={% static 'css/dish_type/list.css' %}>
  <link rel="stylesheet" type="text/css" href={% static 'css/cook/list.css' %}>

  <section class="page">
    <h1>Own Cookers</h1>
    <div class="nav">
      <form action="" method="get" class="search-form" novalidate>
        <input type="submit" value="🔍" class="btn btn-primary">
        {{ search }}
      </form>
    </div>
    {% if cook_list %}
      <table class="table">
        <tr>
          <th>Username</th>
          <th>Experience in years</th>
        </tr>
        <tr>
          {% for cook in cook_list %}
            <tr>
              <td>
                <a href={% url 'kitchen:cooker_detail' cook.id %}>
                  {{ cook.username }}
                </a>
              </td>
              <td>
                {{ cook.year_of_experience }}
              </td>
            </tr>
          {% endfor %}
      </table>
    {% else %}
      <p>There is no Cooker to view :(</p>
    {% endif %}

  </section>

{% endblock %}