{% extends "base.html" %}
{% load static %}
{% load crispy_forms_filters %}

{% block title %}
  Dishes
{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href={% static 'css/dish_type/list.css' %}>

  <section class="page">
    <h1>Dish Types</h1>
    <div class="nav">
      <form action="" method="get" class="search-form" novalidate>
        <input type="submit" value="🔍" class="btn btn-primary">
        {{ search }}
      </form>
      <a href="{% url 'kitchen:dish_type_create' %}" class="btn btn-primary link-to-page">
        Create dish type
      </a>
    </div>
      {% if dish_type_list %}
        <table class="table">
          <tr>
            <th>Name</th>
            {% if user.is_authenticated %}
              <th></th>
              <th></th>
            {% endif %}
          </tr>
          <tr>
            {% for type in dish_type_list %}
              <tr>
                <td>
                    {{ type.name }}
                </td>
              {% if user.is_authenticated %}
                <td>
                  <form method="post" action="">
                    {% csrf_token %}
                    <input name="pk" type="hidden" value={{ type.id }}>
                    <input type="text" name="new_name">
                    <button class="btn btn-primary" type="submit">update</button>
                  </form>
                </td>
                <td>
                  <form method="post" action="">
                    {% csrf_token %}
                    <input name="pk" type="hidden" value={{ type.id }}>
                    <button class="btn btn-danger" type="submit">Delete</button>
                  </form>
                </td>
              {% endif %}

              </tr>
            {% endfor %}
        </table>
      {% else %}
        <p>No one Dish Type was found :(</p>
      {% endif %}
  </section>

{% endblock %}